.ContactItem {
  margin: 10px 0;
  padding: 10px;
  background: #f0f0f0;
}
.ContactItem:nth-child(even) {
  background: #f5f5f5;
}


.ContactColumn {
  display: inline-block;
  width: calc(50% - 50px);
}

.hide {
  display: none;
}

.RemoveContactBtn {
  cursor: pointer;
  outline: none;
  width: 100px;
  background: #99c8ff;
  border: none;
  padding: 10px;
}

.RemoveContactBtn:active {
  background: #4a8fff;
}